* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: open sans, sans-serif;
  font-weight:600;
}


header {
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  background-color: white;
  z-index: 999;
}

footer {
background-color: #000000;
color: white;
}

img {
  width: 100%;
}

h1 {
  font-size: 4.5rem;
  padding-bottom: 40px;
  
}

h2 {
  
  padding-bottom: 50px;
  
}


/***********UTILITY********/

:root {
  --bordo-grigio: 1px solid #D0D0D3;
}

.container {
  display: flex;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.col-img {
  width: 60%;;
}

.col-text {
  width: 40%;
/* 
  min-height: 50px; */
}

.flex {
  display: flex;
  align-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
  min-height: 50px;

}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/**********HEADER**********/



header .logo {
  width: 100px;
}

header div.row {
  height: 80px;
}

header nav {
  display: inline-block;
}


header nav ul {
  display: inline-block;

}

header nav ul li{
  display: inline-block;
  line-height: 100%;
  vertical-align: middle;
  padding: 10px;

}

header img.logo {
  vertical-align: middle;
}

button.head-inizia {
  padding: 10px 15px;
  background-color: #0061FF;
  color: white;
  border-style: none;
}

header .col:first-child {
  padding-left: 10px;
}
header .col:last-child {
  padding-right: 10px;
}

/*********MAIN*********/

.container-main {
  margin: 20px auto;
  max-width: 1000px;
}

div.container.hero {
  background-color: #B4D0E7;
  height: 711px;
  
}

div.hero .row {
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1180px;
}

div.hero .col-text {
  min-height: 400px; /* DEBUG*/
}

.colp {
  width: 300px;
  border:var(--bordo-grigio);
  min-height: 400px; /*DEBUG*/
}

.cole {
  width: 100%;
}


section#piano-business {
  margin-top: 80px;
}

div.col-text div.absolute {
  font-size: 2.0rem;
  bottom: 75px;
}

div.col-text button.head-inizia {
  margin: 20px 0px 20px 0px;
}

span.mensile {
  margin-right: 20px;
}


.piano {
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #D0D0D3;

}

.professional{
  padding: 30px;
}

/*********CARDS*******/



/*******FOOTER********/

div.container-footer {
  max-width: 1180px;
  margin: 0 auto;
}

.colf {
  width: calc(100% / 5);
}

footer a {
  text-decoration: none;
  color: white;
  
}